<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:insert="blocks/footer::footer"></head>
</head>
<body>
<div th:insert="blocks/navBar::navBar"></div>
<div class="container">
    <form action="/user" method="post" th:object="${user}">
        <span th:text="${user.id}"></span>
        <input type="hidden" name="idUser" th:value="*{id}">
        <input type="text" name="username" th:value="${user.username}">
        <div th:each="role : ${rols}">
            <input th:field="*{roles}" type="checkbox"
                   th:value="${role}"/>
            <span th:text="${role}">Role</span><br/>
        </div>
        <input type="hidden" name="userId" th:value="${user.id}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>