<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:insert="blocks/footer::footer"></head>
</head>
<body>
<div th:insert="blocks/navBar::navBar"></div>
<div class="container text-center">
    <h5>Hello, guest!</h5>
    <p th:text="'Hello '+ ${name} + '!' "/>
<div>This is a simple clone off Twitter</div>
    <br><br>
    <a href="/registration">Пройти регистрацию</a>
</div>
</body>
</html>