<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:insert="blocks/footer::footer"></head>
<body>
<div th:insert="blocks/navBar::navBar"></div>
<div class="container mt-5">
    <span th:text="'Добро пожаловать ' + ${user.username}+'!'"></span>
    <div th:if="${user.isAdmin()}">
        <a href="/user">Список пользователей (User List)</a>
    </div>
    <br>
    <p class="d-inline-flex gap-1">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Add new Message
        </a>
    </p>
    <br>
    <div th:class="'collapse' + ${message!=null?' show': ''}" id="collapseExample">
        <div class="form-group mt-3">
            <form action="/creat/messageAdd" method="post" enctype="multipart/form-data">
                <div class="form-group mt-3">
                    <input type="text" th:class="'form-control'+ ${titleError!=null?' is-invalid':'' }"
                           placeholder="Введите текст сообщения" name="title"
                           th:value="${message!=null?message.title:''}"/>

                        <div class="invalid-feedback" th:text="${titleError}"></div>
                </div>
                <div class="form-group mt-3">
                    <input type="text" th:class="'form-control'+ ${tagError!=null?' is-invalid':'' }"
                           placeholder="Введите тэг сообщения" name="tag"
                           th:value="${message!=null?message.tag:''}"/>
                    <div class="invalid-feedback" th:text="${tagError}"></div>
                </div>
                <div class="form-group mt-3">
                    <input type="file" placeholder="Выберите файл" name="file">
                </div>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <div class="form-group mt-3">
                    <input type="submit" value="Записать в базу">
                </div>
            </form>
        </div>
    </div>
    <br><br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
    <br><br>
    <form action="/" method="get">
        Поиск сообщения: <input type="text" placeholder="Введите тэг для поиска" name="searchTag" th:value="${title}">
        <input type="submit" value="Найти">
    </form>
    <br>
    <br>
    <hr>
    <div style="text-align: center">

        <form action="/" method="get">
            <h3>Список сообщений</h3>
            <input type="submit" value="Вернуть все сообщения"><br>
        </form>
        <br><br>
            <div class="card-group" th:each="message:${messages}">
                <div class="card" style="display: flex">
                    <form th:action="'/delete/' + ${message.id}" method="post"><span th:text="${message.id}"/>
                        <div class="card-img-top" th:if="${message.fileName!=null}">
                            <img th:src="'/images/' + ${message.fileName}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <p th:text="${message.tag}"/>
                            </h5>
                        </div>
                        <p class="card-text"><span th:text="${message.title}"/></p>
                        <b><p class="card-text" th:text="${message.author!=null?message.author.username:''}"><small
                                class="text-muted">
                        </small></p></b>
                        <input type="submit" value="Удалить сообщение">
                        <br><br>
                    </form>
                </div>
            </div>

        </div>
    <div th:insert="blocks/scripts::scripts">
    </div>
</div>
</body>
</html>