<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:insert="blocks/footer::footer"></head>
</head>
<body>
<div th:insert="blocks/navBar::navBar"></div>
<div class="container text-center">
    <h5>Hello, guest!</h5>
    <br><br>
    <div>This is a simple clone off Twitter</div>
    <br><br>
    <a href="/user/registration">Пройти регистрацию</a>

<h4>Авторизация</h4>
    <form action="/login" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>User Name</b></label>
            <div class="col-sm-6">
                <input type="text" placeholder="User Name" name="username" class="form-control">
            </div>
        </div>
        <br><br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Password</b></label>
            <div class="col-sm-6">
                <input type="password" placeholder="Пароль" name="password" class="form-control">
            </div>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"><br><br>
        <button type="submit" class="btn btn-primary">Вход</button><br><br>
        <div class="alert alert-warning" role="alert" th:if="${param.error}" style="color: red">
            <b>Неправильные логин и/или пароль!</b>

        </div>
        <div th:if="${errorMessageSuccess!=null}" class="alert alert-success" role="alert">
            <h2><span th:text="${errorMessageSuccess}"></span></h2>
        </div>
        <div class="alert alert-warning" role="alert">
            A simple warning alert—check it out!
        </div>
        <div th:if="${errorMessageAnSuccess!=null}" class="alert alert-danger" role="alert">
            <h2><span th:text="${errorMessageAnSuccess}"></span></h2>
        </div>

    </form>

</div>
</body>
</html>