<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:insert="blocks/footer::footer"></head>
</head>
<body>
<div th:insert="blocks/navBar::navBar"></div>
<div class="container text-center">
    <h5><span th:text="${username}"></span></h5>
    <form method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Password</b></label>
            <div class="col-sm-6">
                <input type="password" placeholder="Password" name="password" class="form-control" th:value="${password}">
            </div>
        </div>
        <br><br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Email</b></label>
            <div class="col-sm-6">
                <input type="email" placeholder="email" name="email" class="form-control" th:value="${email!=null?email:''}">
            </div>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"><br><br>
        <button type="submit" class="btn btn-primary">Сохранить</button><br><br>
</span>
    </form>

</div>
</body>
</html>