<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:insert="blocks/footer::footer"></head>
    <title>Registration</title>
</head>
<body>
<div th:insert="blocks/navBar::navBar"></div>
<h4>Регистрация</h4>
<form action="/user/registration" method="post">
    <div class="form-group mt-3">
        <input type="text" th:class="'form-control'+ ${usernameError!=null?' is-invalid': (errorMessage!=null ? ' is-invalid':'' )}"
               placeholder="Имя пользователя" name="username" th:value="${user!=null?(user.username!=null?user.username:''):''}">
        <div class="invalid-feedback" th:text="${usernameError}"></div>
    </div>
    <div class="form-group mt-3">
        <input type="password" th:class="'form-control'+ ${passwordError!=null?' is-invalid':'' }"
               placeholder="Пароль" name="password">
        <div class="invalid-feedback" th:text="${passwordError}"></div>
    </div>
    <div class="form-group mt-3">
        <input type="password" th:class="'form-control'+ ${password2Error!=null?' is-invalid':'' }"
               placeholder="Повторите пароль" name="password2">
        <div class="invalid-feedback" th:text="${password2Error}"></div>
    </div>
    <div class="form-group mt-3">
        <input type="email" th:class="'form-control'+ ${emailError!=null?' is-invalid':'' }"
               placeholder="Ваш Email" name="email" th:value="${user!=null?(user.email!=null?user.email:''):''}">
        <div class="invalid-feedback" th:text="${emailError}"></div>
        <div class="g-recaptcha" data-sitekey="6LdrMscpAAAAAMoV5Slxj2k5_BnHLhmcAV-RdFnX"></div>
        <div th:if="${captchaError!=null}" class="alert alert-danger" role="alert">
            <h2><span th:text="${captchaError}"></span></h2>
        </div>

    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"> <br>
    <input type="submit" value="Зарегистрироваться"/>
</form>

<span th:if="${errorMessage!=null}">
    <h2><span th:text="${errorMessage}" style="color: red"></span></h2>
</span>
</body>
</html>