<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:insert="blocks/footer::footer"></head>
</head>
<body>
<div th:insert="blocks/navBar::navBar"></div>
<div class="container mt-5">

    <h3>Список пользователей</h3>
    <table  border="1">
        <tr border="1">
            <th>Name</th>
            <th>Role</th>
            <th>Активность</th>
            <th></th>
        </tr>
        <div th:each="user:${userList}">
            <tr border="1">
                <th th:text="${user.username}"></th>
                <th><span th:text="${#strings.listJoin(user.roles,', ')}"/></th>
                <th th:text="${user.active}"></th>
                <th>
                    <form th:action="'/user/delete/'+ ${user.id}" method="post">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                        <input type="submit" value="Удалить">
                    </form>
                </th>
                <th><a th:href="'/user/'+ ${user.id}">Редактирование</a></th>
            </tr>
        </div>
    </table>
    <div th:insert="blocks/scripts::scripts">
    </div>
</div>

<br>
<br>
<form action="/" method="get">
    <input type="submit" value="Вернуться на главную">
</form>
</body>
</html>