<div th:fragment="navBar">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Sweater</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/greeting">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Messages</a>
          </li>
          <li class="nav-item">
            <div th:if="${user!=null}">
            <div th:if="${user.isAdmin()}">
            <a class="nav-link" aria-current="page" href="/user">User list</a>
            </div>
            </div>
          </li>
          <li class="nav-item">
            <div th:if="${user!=null}">
              <a class="nav-link" aria-current="page" href="/user/profile">Profile</a>
            </div>
          </li>
        </ul>
        <div class="navbar-text" th:text="${user!=null ? 'На сайте ' + user.username:'unknow'}"></div>
        </div>
    </div>
  </nav>
</div>